<div>
  <app-tab
    [tabContent]="content"
    [tabTemplate]="tabTemplate"
    [tabs]="tabs()"
    (onTabRemoved)="onTabRemoved($event)"></app-tab>
</div>

local storage expiration (ms): <input [(ngModel)]="localStorageExpirationTime" (ngModelChange)="onExpirationTimeChange($event)">

<ng-template #tabTemplate let-tab>
  <ng-container *ngIf="tab">
    <span>
      {{tab.label}}
    </span>
  </ng-container>
</ng-template>

<ng-template #content let-activeTab>
  <app-current-condition-tab [activeLocation]="activeTab"></app-current-condition-tab>
</ng-template>